
{% extends 'base.html.twig' %}
{% block body %}


<h2>Liste des Articles</h2>

<div class="container">
	<div class="list_article">
		<div class="descriptif">
			{#{% for articles in article %}
				<div class="article">
					<h1>{{ form.name }}</h1>
					<h4>{{ form.amount }}</h4>
					<ul>
						<li>{{ form.price }}</li>
					</ul>
				</div>#}
			
		</div>
	</div>
</div>

{% endblock %}